$blue: #009bde;
#search-box{
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 100%;
  border-radius: 25px;
  input{
    padding: 10px;
    font-size: small;
    width: 80%;
    margin: 2px;
    border-radius: 25px;
    border: none;
  }
  .icon{
    color: white;
    margin: auto;
  }
}

#search-box{
  background-image: linear-gradient(to right, var(--blue) 0%, #79cbca 51%, #77a1d3 100%);

}