$blue: #009bde;

#landing-header {
    z-index: 6000;
    display: flex;
    flex-direction: row;
    height: 5vw;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    position: fixed;
    background-color: rgba($blue, 0) !important;
    img {
        padding-left: 2em;
        margin: 10px auto auto 10px;
        height: fit-content;
        width: fit-content;
    }
    .buttons {
        
        display: flex;
        width: 60vw;
    }
    button {
        border: none;
        
        font-family: Milliard Book;
        background-color: transparent;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        line-height: 45px;
        margin-right: auto;
        margin-top: 20px;
        padding: 3em;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0;
        transition: letter-spacing 200ms;
        &:hover {
            letter-spacing: 5px;
            text-decoration: none;
        }
        &:active {
            letter-spacing: 5px;
        }
        &:after,
        &:before {
            backface-visibility: hidden;
            border: 1px solid rgba($blue, 0);
            bottom: 0px;
            content: " ";
            display: block;
            margin: 0 auto;
            position: relative;
            transition: all 280ms ease-in-out;
            width: 0;
        }
        &:hover:after,
        &:hover:before {
            backface-visibility: hidden;
            border-color: $blue;
            transition: width 350ms ease-in-out;
            width: 70%;
        }
    }

    button:focus {
        outline: none;
    }
    
}