#place {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3em 5em 0 5em;
    position: relative;
    .stepButtons {
        z-index: 15000;

        button {
            z-index: 5000;
            position: absolute;
            left: 0;
            top: 50%;
            background-color: black;
            width: 100px;
        }
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

        button {
            width: 100%;
            height: 60px;
            color: var(--blue);
            background-color: transparent;
            border: none;
            transition: color 0.3s;
            .icon {
                font-size: 4rem;
            }
            &:hover {
                color: var(--blue85);
            }
        }
    }
    h2 {
        font-size: 2rem;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .column {
            display: flex;
            float: left;
            width: 50%;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            h3 {
                font-size: 1.5rem;
            }
            .item {
                display: flex;
                flex-direction: row;
                border: 1px solid var(--blue);
                margin: 18px 60px 0 60px;
                border-radius: 20px 0px 20px 0px;
                width: 425px;

                //width: 30vw;
                position: relative;
                justify-content: stretch;
                .rating {
                    margin-top: 30px;
                    margin-left: 0px;
                }
                .shadow-right {
                    z-index: 1000;
                    right: 30px;
                    padding-right: 3em;
                    height: 100%;
                    position: absolute;
                    box-shadow: 5px 0 5px -2px #888;
                }
                p {
                    margin: auto;
                    margin-left: 0px;
                    font-size: 18px;
                }
                img {
                    width: 40%;
                    height: 100%;
                    padding: 0.3em;
                    border-radius: 20px 0px 20px 0px;
                }
                button {
                    border-bottom-right-radius: 19px;
                    position: absolute;
                    right: 0;
                    width: 30px;
                    height: 100%;
                    border: none;
                    background-color: var(--blue);
                    color: white;
                }
            }
        }
        /* Clear floats after the columns */
        &row:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}
.step2 {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    h1 {
        font-size: 2em;
        align-self: center;
    }
    .row {
        display: flex;
        height: 100%;
        margin-left: 10vw;
        margin-right: 10vw;
        p {
            color: var(--blue);
        }
        .cover {
            height: 300px;
            margin-bottom: 25px;
            border-top-left-radius: 20px;
            margin-right: 1vw;
            width: 50;
            background-image: url("../../../assets/fortaleza.jpg");
            background-position: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .imgs {
            margin-right: 1vw;
            align-content: center;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 50;
            
            img {
                align-self: center;
                margin-bottom: 20px;
                width: 30%;
            }
        }
        .column {
            height: 100vw;
            width: 50%;
        }
        .column2 {
            background-color: rgba(200, 200, 200, 0.1);
            padding: 2em;
            height: 100vh;
            border-top-left-radius: 20px;
        }
        .column2 > div{}
    }
}
#divider {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3vw;
    padding: 0 10vw 0 10vw;
    div {
        width: 100%;
        border-bottom: 8px solid var(--blue);
        border-radius: 20px;
    }
    img {
        margin: 4em;
        height: 100%;
    }
}
