#header{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  top: 0;
  position: fixed;
  align-items: center;
  height: 6em;
  width: 100%;
  .left-box{
    display: flex;
    flex-direction: column;
    margin: auto;
    //adjust margin header
    margin-right: 30em;
    justify-content: space-between;
  }
  a{
    cursor: pointer;
  }
  li:hover{
    color: var(--blue);
  }
  .links-left{
    display: flex;
    flex-direction: row;
  }
  img{
    margin: auto;
    height: min-content;
    width: min-content;
  }
  ul{
    display: flex;
    flex-direction: row;
  
  }
  li{
    transition: color .3s;
    margin: 0 15px 0 15px;
  }
  
}