
.step > div{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .time-div{
        width: 60%;
        display: flex;
        justify-content: space-between;
    }
    .price-input-group{
        width: 50%;
    }
    .time-picker{
        width: 120px;
        margin: auto;

    }
    label{
        padding-right: 1em;
        width: 150px;
    }
    
}

.step {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 65%;
    .star-rating-div{
        padding-right: 3em;
    }
    .stepButtons {
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        margin-top: 2em;
        button{
            margin: 1em 20px;
        }
    }
    h1{
        font-size: 2rem;
    }
    div{
        display: flex;
        flex-direction: row;
        input{
            width: 50%;
        }
        justify-content: space-between !important;
    }
    .address{
        width: 100%;
    }
    .checks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        label{
            text-align: left;
            padding-left: 3em;
        }
        
    }
    .radiobutton{
        margin-bottom: 5px;
    }
    
    a{
        align-self: center;
    }
   
    label{   
        text-align: right;
        align-self: center;

    }
    .label{
        padding: 0 1em;
        align-self: center !important;
        width: 150px !important;
        justify-content: center;
        align-items: center;
    }
    button{
        font-size: 1rem;
        border: none;
        margin:  1em auto;
        padding: 0.5em 2em;
        border-radius: 25px;
        background-color: var(--blue);
        color: white;
        &:disabled{
            background-color: rgba(#009bde, 0.5)
            
        }
    }
    
    select{
        align-self: center;
    }
    input{
        align-self: center;
    }
   
    
}
.btn-grad {
    background-image: linear-gradient(to right, var(--blue) 0%, #79cbca 51%, #77a1d3 100%);
}
.btn-grad {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
#new {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    padding-top: 2em;
    .label {
        padding-top: 10px;
    }
    .step {
        
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        a {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            border: none;
            background-color: var(--blue);
            border-radius: 50%;
            margin-left: 5px;
            color: white;
        }
    }
}
