.step {
    width: 100vh;
    .stepButtons {
        display: flex;
        flex-direction: row;
    }
    
    h1{
        font-size: 2rem;
    }
    div{
        display: flex;
        flex-direction: row;
    }
    .address{
        width: 100%;
        margin-top: 10px;
    }
    .checks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .tags{
        padding: 1em;
    }
    .margin{
        margin: 1em;
        label{
            margin: 0.5em;
        }
    }
    .tagGroup{
        justify-content: space-around;
    }
    .tags-content{
        display: flex;
    }
    a{
        align-self: center;
    }
    .avaliacao{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .check-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    label{   
        align-self: center;
    }
    button{
        font-size: 1rem;
        border: none;
        margin:  1em auto;
        padding: 0.5em 2em;
        border-radius: 25px;
        background-color: var(--blue);
        color: white;
        &:disabled{
            background-color: rgba(#009bde, 0.5)
            
        }
    }
    .inputGroup{
        align-items: center;
        
    }
    
}
.btn-grad {
    background-image: linear-gradient(to right, var(--blue) 0%, #79cbca 51%, #77a1d3 100%);
}
.btn-grad {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
#new {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-align: center;
    padding-top: 2em;
    .label {
        padding-top: 10px;
    }
    .step {
        
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        a {
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            border: none;
            background-color: var(--blue);
            border-radius: 50%;
            margin-left: 5px;
            color: white;
        }
    }
}
